:root {
  --dark: #1d1d20;
  --light: #f8f7ff;
  --light-second: #f0f0f8;
  --iris: #6643b5;
  --vista-blue: #8594e4;
  --celadon: #95d2b3;
  --color1: 161, 119, 255;
  --color2: 153, 169, 255;
  --color3: 121, 254, 186;
  --color4: 251, 74, 47;
  --circle-size: 100%;
  --blending: hard-light;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

button {
  user-select: none;
  cursor: pointer;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.8em;
}

.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  box-shadow: rgba(94, 94, 94, 0.1) 0px 8px 24px;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.navbar .logo {
  height: calc(100% - 5px);
  margin-right: 28px;
}

.navbar .logo img {
  height: 100%;
}

.navbar .categories {
  display: flex;
  gap: 28px;
  width: 70%;
  font-weight: 500;
}

.navbar .category {
  display: flex;
  align-items: center;
  font-size: 0.85em;
  padding: 26px;
  box-sizing: border-box;
}

.navbar .category .dropdown {
  background-color: rgba(248, 247, 255, 0.6);
  backdrop-filter: blur(15px);
  list-style: none;
  visibility: hidden;
  opacity: 0;
  min-width: 210px;
  position: absolute;
  transition: all 0.3s ease;
  top: 66px;
  border-radius: 6px;
  left: 0;
  overflow: hidden;
  display: none;
  font-weight: 400;
  border: var(--dark) 3px solid;
}

.navbar .category .dropdown li {
  padding: 18px;
  transition-duration: 0.3s;
  text-align: left;
}

.navbar .category .dropdown li:hover,
.navbar .category .dropdown li:focus-within {
  background-color: rgb(29, 29, 32);
  color: var(--light);
  text-shadow: var(--light) 0.5px 0 8px;
}

.navbar .category:hover > .dropdown,
.navbar .category:focus-within > .dropdown,
.navbar .category .dropdown:hover,
.navbar .category .dropdown:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navbar .nav-book,
.navbar .category {
  text-decoration: none;
  text-align: center;
  color: var(--dark);
  position: relative;
  cursor: pointer;
}

.nav-book:focus:before,
.nav-book:hover:before {
  width: 100%;
  left: 0%;
}

.nav-book:before {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--dark);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.nav-end {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hamburger {
  cursor: pointer;
  padding: 8px;
  display: none;
}

.bar {
  width: 28px;
  height: 3px;
  background-color: var(--dark);
  margin: 6px 0;
  transition: 0.3s;
}

/* Add styles for an "active" state (when the menu is open) - Example */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -6px);
}

.hero {
  position: relative;
  margin-top: 72px;
  height: 720px;
  overflow: hidden;
  background: rgb(248,247,255);
background: linear-gradient(120deg, rgba(248,247,255,1) 0%, rgba(240,240,248,1) 48%, rgba(235,235,247,1) 100%);
}

.hero h1 {
  background: -webkit-linear-gradient(45deg, #9958f3, #779ddf, #50e7c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container3D {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container3D canvas {
  width: 100%;
}

.wrap-dim {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  z-index: 2;
}

.wrap-dim .wrap-blur {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 28px 56px;
}

.wrap-dim h1 {
  text-align: center;
  font-size: 3.2em;
  margin-bottom: 15px;
}

.hero-text {
  font-size: 1em;
  margin-bottom: 46px;
  max-width: 820px;
  text-align: center;
}

.hero .btn-wrap {
  display: flex;
}

/* From Uiverse.io by Creatlydev */
.book-btn {
  cursor: pointer;
  border: none;
  background: -webkit-linear-gradient(45deg, #9958f3, #779ddf, #50e7c8);
  color: var(--light);
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition: background 300ms, transform 200ms;
  font-weight: 600;
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;
}

.button__text span {
  position: absolute;
  transform: rotate(calc(18deg * var(--index)));
  inset: 7px;
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: var(--light);
  color: var(--dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.book-btn:hover {
  background: var(--dark);
  transform: scale(1.05);
}

.book-btn:hover .button__icon {
  color: var(--dark);
}

.book-btn:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.book-btn:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}

.promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--dark);
  border-radius: 0.4em;
  margin-left: 20px;
  max-width: 310px;
  color: var(--light);
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.1em;
}

.promotion:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 50px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: var(--dark);
  border-left: 0;
  margin-top: -8px;
  margin-left: -8px;
}

.promotion strong {
  font-size: 1.4em;
  color: #5dcfd0;
  text-shadow: #5dcfd0 0.5px 0 8px;
}

.promotion span {
  font-weight: 600;
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
}

.contact {
  display: flex;
  margin-top: 100px;
  color: var(--dark);
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact::before {
  display: block;
  content: " ";
  width: 5px;
  height: 100%;
  border-radius: 5px;
  background: -webkit-linear-gradient(45deg, #9958f3, #779ddf, #50e7c8);
  margin-right: 10px;
}

.contact-line {
  display: flex;
  align-content: center;
}

.contact img {
  width: 1em;
  display: block;
  margin-right: 5px;
}

.section3,
.section4,
.section5 {
  padding: 96px 78px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--light-second);
}

.service-detail,
.section1,
.section4 {
  padding: 96px 78px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--light);
}

.section1,
.section4 {
  justify-content: center;
  overflow: hidden;
}

.section1-wrap,
.section3-wrap,
.section4-wrap,
.section5-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.section1-wrap .left-up,
.section3-wrap .right-down,
.section4-wrap .left-up {
  padding-right: 47px;
  width: calc(50% - 47px);
}

.section1-wrap h3 {
  margin-top: 24px;
}

.section3-wrap .right-down {
  padding-left: 47px;
  padding-right: 0;
}

.section3-wrap .right-down p {
  margin-bottom: 8px;
}

.section1 h1,
.services h1,
.section3 h1,
.section4 h1 {
  margin-bottom: 20px;
}

.section1 p,
.section3 p,
.section4 p {
  font-size: 1.1em;
}

.section1 h3 {
  margin-bottom: 10px;
}

.section1-wrap .right-down,
.section4-wrap .right-down {
  width: calc(50% - 50px);
  padding-left: 50px;
}

.section3-wrap .left-up {
  width: calc(50% - 50px);
  padding-right: 50px;
}

.section1-wrap .right-down img,
.section3-wrap .left-up img {
  width: 100%;
}

.services {
  background-color: var(--light-second);
}

.services-wrap {
  gap: 15px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.scroller__inner li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 28px 24px;
  width: 180px;
  background: var(--light);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}

.scroller__inner li img {
  width: 52px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s forwards linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.detail-img img {
  height: 100%;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.service-detail {
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  transition: all 0.1s ease;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 72px);
  background-color: var(--light);
  z-index: 9;
  color: var(--dark);
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.show-detail .service-detail {
  opacity: 1;
  transform: scale(1);
  pointer-events: initial;
  transition: all 0.1s ease;
  z-index: 9;
}

.show-detail .close-service {
  opacity: 1;
  z-index: 10;
}

.close-service {
  position: fixed;
  right: 50px;
  top: 92px;
  width: 22px;
  cursor: pointer;
  margin: 0;
  user-select: none;
  z-index: 10;
  opacity: 0;
}

.service-detail .detail-wrap {
  max-width: 1440px;
}

.service-detail h1 {
  text-align: start;
  margin-bottom: 28px;
}

.service-detail .detail-item {
  display: flex;
  width: 100%;
  background-color: var(--light-second);
  margin-bottom: 56px;
}

.detail-img {
  width: 35%;
}

.detail-txt {
  width: 65%;
  padding: 23px 46px;
  box-sizing: border-box;
}

.detail-txt h2 {
  font-size: 1.6em;
  margin-bottom: 12px;
}

.detail-txt p {
  margin-bottom: 12px;
}

.detail-txt ul {
  padding-left: 20px;
}

.services,
.section2 {
  padding: 96px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h1 {
  max-width: 852px;
  text-align: center;
  margin-bottom: 18px;
}

.section2 h1 {
  max-width: 852px;
  text-align: center;
  margin-bottom: 52px;
}

.services-wrap,
.section2 .card-wrap {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  width: 100%;
}

.section2 .card-wrap .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  text-align: center;
  padding: 80px 30px;
}

.neu-card {
  border-radius: 35px;
  box-shadow: 18px 18px 36px #d3d2d9, -18px -18px 36px #ffffff;
}

.section2 .card-wrap .card img {
  width: 160px;
  margin-bottom: 46px;
}

.section2 .card-wrap .card h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.section4 .right-down {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.section4 .right-down .card {
  position: relative;
  padding: 24px 52px;
  background: transparent;
  overflow: hidden;
  width: 500px;
}

.section4 .right-down .card h1 {
  position: relative;
  margin-bottom: 12px;
  font-size: 4.2em;
}

.section4 .right-down .card h3 {
  position: relative;
}

.section4 .right-down .card p {
  position: relative;
  font-size: 0.9em;
}

.playing:first-child .wave:nth-child(2),
.playing:first-child .wave:nth-child(3) {
  top: 210px;
  left: -120px;
}

.playing:last-child .wave:nth-child(2),
.playing:last-child .wave:nth-child(3) {
  top: 120px;
  left: -210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  position: absolute;
  width: 1010px;
  height: 960px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -60%;
  margin-top: -60%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing:first-child {
  color: var(--light-second);
}

.playing:last-child .wave {
  background: linear-gradient(744deg, #10f2f6, #95d2b3 60%, #a3ff40);
  left: 0;
  top: 0;
  margin-left: -45%;
  margin-top: -80%;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section5-wrap {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.section5-wrap p {
  margin: 10px 0 50px 0;
}

.owl-carousel {
  cursor: pointer;
}

.review {
  height: 180px;
  display: grid;
  border-radius: 35px;
  background-color: var(--light);
  padding: 25px 50px;
}

.review span:last-child {
  align-self: flex-end;
}

.review p {
  margin: 20px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  padding: 20px 0 10px 0;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
}

.chatbot-toggler {
  position: fixed;
  right: 40px;
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: var(--iris);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10;
}

.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler img {
  width: 22px;
  position: absolute;
  user-select: none;
}

.show-chatbot .chatbot-toggler img:first-child,
.chatbot-toggler img:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler img:last-child {
  opacity: 1;
}

.chatbot {
  position: fixed;
  right: 40px;
  bottom: 100px;
  background-color: rgba(248, 247, 255, 0.6);
  backdrop-filter: blur(15px);
  width: 420px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: bottom right;
  transition: all 0.1s ease;
  z-index: 10;
}

.show-chatbot .chatbot {
  transform: scale(1);
  pointer-events: auto;
  opacity: 1;
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  border-radius: 15px 15px 0 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.chatbot header h2 {
  font-size: 1.4em;
}

.chatbot header img {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 22px;
  cursor: pointer;
  transform: translateY(-50%);
  margin: 0;
  display: none;
  user-select: none;
}

.chatbot img {
  width: 38px;
  margin: 0 10px 2px 0;
  align-self: flex-end;
}

.chatbot .chatbox {
  height: 360px;
  overflow-y: auto;
  padding: 15px 20px;
  scrollbar-width: thin;
  scrollbar-color: var(--dark) transparent;
}

.chatbox .chat {
  display: flex;
}

.chatbox .chat p {
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: var(--iris);
  color: var(--light);
  font-size: 0.95em;
  max-width: 75%;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.chatbox .incoming p {
  color: var(--dark);
  background: var(--light-second);
  border-radius: 10px 10px 10px 0;
}

.chatbox .incoming {
  margin-bottom: 20px;
}

.chatbox .outgoing {
  justify-content: flex-end;
  margin: 20px 0;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  border-radius: 0 0 15px 15px;
  width: calc(100% - 40px);
  padding: 5px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.chat-input textarea {
  height: 25px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 0.95em;
  resize: none;
  padding: 16px 15px 16px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chat-input img {
  width: 25px;
  cursor: pointer;
  align-self: center;
  margin: 0;
  visibility: hidden;
}

.chat-input textarea:valid ~ img {
  visibility: visible;
}

.footer .logo {
  height: 120px;
}

.footer p {
  text-align: center;
  font-size: 0.9em;
  margin-top: 10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--light);
  z-index: 999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  -webkit-animation: rotate_3922 1.2s linear infinite;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9b59b6),
    color-stop(#84cdfa),
    to(#5ad1cd)
  );
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.spinner span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9b59b6),
    color-stop(#84cdfa),
    to(#5ad1cd)
  );
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.spinner span:nth-of-type(1) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.spinner span:nth-of-type(2) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.spinner span:nth-of-type(3) {
  -webkit-filter: blur(25px);
  filter: blur(25px);
}

.spinner span:nth-of-type(4) {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.spinner::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: var(--light);
  border: solid 5px var(--light);
  border-radius: 50%;
}

@-webkit-keyframes rotate_3922 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate_3922 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media only screen and (max-width: 1400px) {
  .wrap-dim h1 {
    font-size: 2.7em;
  }

  h1 {
    font-size: 2.2em;
  }

  .section1-wrap .left-up,
  .section3-wrap .right-down,
  .section4-wrap .left-up {
    padding-right: 30px;
    width: calc(50% - 30px);
  }

  .section3-wrap .right-down {
    padding-left: 30px;
    padding-right: 0;
  }

  .section1-wrap .right-down,
  .section4-wrap .right-down {
    width: calc(50% - 30px);
    padding-left: 30px;
  }

  .section3-wrap .left-up {
    width: calc(50% - 30px);
    padding-right: 30px;
  }

  .section2 .card-wrap .card {
    transform: scale(0.8);
  }

  .section4-wrap {
    flex-direction: column;
    width: 100%;
    overflow: visible;
  }

  .section4-wrap .left-up {
    width: 100%;
    padding: 0;
  }

  .section4-wrap .left-up {
    margin-bottom: 72px;
  }

  .section4-wrap .right-down {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
}

@media only screen and (max-width: 1200px) {
  .wrap-dim h1 {
    font-size: 2.2em;
  }

  h1 {
    font-size: 1.8em;
  }

  .navbar .categories {
    display: flex;
    gap: 0;
    width: 70%;
    font-weight: 500;
  }

  .navbar .category {
    padding: 26px 12px;
  }

  .section1-wrap .left-up,
  .section3-wrap .right-down {
    width: calc(55% - 30px);
  }

  .section1-wrap .right-down,
  .section3-wrap .left-up {
    width: calc(45% - 30px);
  }

  .section2 h1 {
    max-width: 552px;
    margin-bottom: 0px;
  }

  .section2 .card-wrap .card {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 992px) {
  .detail-item {
    flex-direction: column;
  }

  .detail-img {
    width: 100%;
    height: 320px;
  }

  .detail-img img {
    height: 100%;
  }

  .detail-txt {
    width: 100%;
    padding: 23px 46px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .section1-wrap,
  .section3-wrap,
  .section5-wrap {
    flex-direction: column;
  }

  .section1-wrap .left-up,
  .section3-wrap .right-down {
    width: 100%;
    padding: 0;
  }

  .section1-wrap .left-up,
  .section3-wrap .left-up {
    margin-bottom: 72px;
  }

  .section1-wrap .right-down,
  .section3-wrap .left-up {
    width: 70%;
    padding: 0;
  }

  .services-wrap {
    flex-wrap: wrap;
    gap: 32px;
  }

  .service-card .card-img {
    height: 80%;
  }

  .service-card .card-content {
    height: calc(20% - 50px);
    padding: 25px 25px;
  }

  .services-wrap .service-card {
    width: 45%;
  }

  .section2 .card-wrap {
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 52px;
    max-width: 100%;
  }

  .services h1,
  .section2 h1 {
    max-width: 552px;
    margin-bottom: 50px;
  }

  .section2 .card-wrap .card {
    transform: scale(1);
    max-width: calc(100vw - 216px);
  }

  .section2 .card-wrap .card img {
    width: 160px;
    max-width: 90%;
  }

  .review {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }

  .nav-container {
    padding: 0;
  }

  .navbar {
    padding: 5px 25px;
  }

  .navbar .categories {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 0;
    top: 72px;
    left: 0;
    width: 100%;
    background-color: var(--light);
    transition: all 0.3s ease;
  }

  .navbar .categories.showing {
    display: inline-block;
    height: auto;
    transition: all 0.3s ease;
  }

  .navbar .category {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    line-height: 46px;
  }

  .navbar .category .dropdown {
    position: initial;
    width: 100%;
    border-radius: 0;
    background-color: var(--light-second);
    line-height: 18px;
  }

  .navbar .category .dropdown li {
    text-align: center;
  }

  .hamburger {
    display: inline-block;
  }

  .close-service {
    right: 24px;
    top: 90px;
    width: 22px;
  }

  .section1-wrap .text-wrap {
    display: flex;
    flex-direction: column;
  }

  .service-detail,
  .section1,
  .services,
  .section2,
  .section3,
  .section4,
  .section5 {
    padding: 52px 38px;
  }

  .services-wrap .service-card {
    width: 75%;
  }

  .section2 .card-wrap .card {
    max-width: calc(100vw - 136px);
  }

  .section4-wrap .right-down {
    transform: scale(0.75);
  }

  .section4-wrap .left-up {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 490px) {
  h1 {
    font-size: 1.4em;
  }

  .navbar .logo {
    height: calc(80% - 5px);
  }

  .hero {
    height: auto;
  }

  .promotion p {
    font-size: 0.85em;
  }

  .wrap-dim .wrap-blur {
    padding: 55px 30px;
  }

  .promotion {
    padding: 8px 16px;
  }

  .contact {
    margin-top: 50px;
  }

  .detail-img {
    height: 180px;
  }

  .section1-wrap {
    padding: 0;
  }

  .services-wrap .service-card {
    height: 300px;
    width: 100%;
  }

  .service-card .card-img {
    height: 70%;
  }

  .service-card .card-content {
    height: calc(30% - 24px);
    padding: 12px 12px;
  }

  .section2 .card-wrap .card h2 {
    font-size: 1em;
  }

  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 72px);
    border-radius: 0;
    background-color: var(--light);
  }

  .chatbot header {
    border-radius: 0;
  }

  .chatbot header img {
    display: block;
  }

  .chatbot .chatbox {
    height: 72%;
  }

  .section4-wrap .right-down {
    transform: scale(0.5);
    margin: -60px 0;
  }

  .section4-wrap .left-up {
    width: calc(100vw - 86px);
    padding: 0;
  }

  .footer .logo {
    height: auto;
    width: 100%;
  }
}
